<!DOCTYPE html>
<html lang="en">

<head>

    <% include views/include/header %>

</head>

<body id="page-top">

<!-- Navigation -->

<% include views/include/nav.ejs %>

<header class="masthead text-center text-white d-flex">
    <div class="container my-auto">
        <div class="row">
            <div class="col-lg-10 mx-auto">
                <h1 class="text-uppercase">
                    <strong>Pas le temps de vérifier votre boîte aux lettres?</strong>
                </h1>
                <hr>
            </div>
            <div class="col-lg-8 mx-auto">
                <p class="text-faded mb-5">iBox votre boîte aux lettres connectée à portée de main!</p>
                <a class="btn btn-primary btn-xl js-scroll-trigger" href="/produit">Plus d'info</a>
            </div>
        </div>
    </div>
</header>

<% include views/include/scripts %>

<!-- Custom scripts for this template -->
<script src="/js/creative.min.js"></script>

</body>

</html>
