<!DOCTYPE html>
<html lang=”fr”>

<% include include/header %>

<body>

<% include include/nav %>
<section name=”jumbotron” >
 <div class=”jumbotron text-center”>
 <h1>Bienvenue sur le site de iBox, produit de l'équipe Dallas.</h1>
 <p>La start up Dallas vous présente iBox, son tout nouveau produit, une boite aux lettres connectée destinée aux foyers.
<br> 
De nos jours, les gens vérifient de moins en moins le contenu de leur boîte aux lettres à cause de l’essor de nouveaux moyens de communication tels que les e-mails, les messageries instantanées…
<br> 
Cependant, toujours est-il que de nombreux organismes et individus utilisent encore le courrier écrit pour communiquer. Ainsi ces courriers reçoivent lecture et réponse avec un délai de plus en plus élevé.
<br> 
Notre produit iBox fournit une réponse à ce phénomène de délaissement des boîtes aux lettres de nos jours. Grâce à lui, vous recevrez des notifications en temps réels de vos réceptions de courrier, ainsi qu’un suivi de son état incluant le degré de remplissage, la date de la dernière ouverture, ou l’historique des réceptions (détaillé avec la date, l’heure, et le poids de la réception).
<br> 
Ainsi, fini les courriers officiels manqués, ou le courrier de mamie oublié. Et en bonus, vous n’avez plus à vérifier votre boite aux lettres du tout, l’intégralité de son activité sera notifiée et enregistrée sur votre portable.
 <br>
 </div>
 </section>
</body>
<% include include/footer %>
</html>
