<!DOCTYPE html>
<html lang="en">

<head>

    <% include include/header %>

</head>

<body id="page-top">

<!-- Navigation -->

<% include include/nav.ejs %>

<header class="masthead text-center">

    <section class="h-100">
        <div class="container h-100">
            <div class="row justify-content-md-center h-100">
                <div class="card-wrapper">
                    <div class="card fat" style="background-color:rgba(255,255,255,0.7);">
                        <p></p>
                        <div style="font-size: 30px"><b>Informations</b></div>

                        <div class="card-body">
                            <form method="post" action="/signup">
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label for="nom">Nom</label>
                                        <input id="nom" name="nom" type="text" class="form-control" required>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="prenom">Prénom</label>
                                        <input id="prenom" name="prenom" type="text" class="form-control" required>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group  col-md-6">
                                        <label for="email">Email</label>
                                        <input id="email" name="email" type="email" class="form-control"
                                               placeholder="Email"
                                               required>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="psw">Mot de passe</label>
                                        <input id="psw" name="psw" type="password" class="form-control"
                                               placeholder="Mot de passe" required>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="phone">Télephone</label>
                                    <input id="phone" name="phone" type="text" class="form-control" placeholder="(0)"
                                           required>
                                </div>
                                <div class="form-group">
                                    <label for="adresse">Adresse</label>
                                    <input id="adresse" name="adresse" type="text" class="form-control"
                                           placeholder="1234 Main St" required>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-4">
                                        <label for="pays">Pays</label>
                                        <input id="pays" name="pays" type="text" class="form-control" required>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label for="ville">Ville</label>
                                        <input id="ville" name="ville" type="text" class="form-control" required>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label for="code_postal">Code postal</label>
                                        <input id="code_postal" name="code_postal" type="text" class="form-control"
                                               required>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputState">Méthode de paiement</label>
                                    <select id="inputState" class="form-control">
                                        <option selected>Carte bancaire</option>
                                        <option>Paypal</option>
                                    </select>
                                </div>

                                <button type="submit" class="btn btn-primary btn-block">
                                    Valider
                                </button>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <p></p>
    <p></p>

</header>

<% include include/scripts %>

<!-- Custom scripts for this template -->
<script src="/js/creative.min.js"></script>

</body>

</html>