<html lang="en">

<head>

    <% include include/header %>

</head>

<body id="page-top">

<!-- Navigation -->

<% include include/nav.ejs %>

<header class="masthead text-center text-white d-flex">
    <div class="container my-auto">
        <div class="row">
            <div class="col-lg-10 mx-auto">
                <h1>
                    <p class="text-faded mb-5">La start up Dallas, lancée au 25 Janvier 2018, est formée de cinq
                        étudiants motivés et investis : <br/>
                        Mohamed Bennis, Tony Huang, Justin Tu, Aurélien Quesnel et Valentin Yverneau. <br/>
                        Notre premier produit, une boite aux lettres connectée, est commercialisé en B2B et en B2C.</p>
                </h1>
                <hr>

                <h1>
                    <strong>Un contact ? </strong>
                </h1>
                <i class="fa fa-envelope-o fa-3x mb-3 sr-contact"></i>
                <p>
                    <a href="mailto:your-email@your-domain.com">contact@dallas.com</a>
                </p>
            </div>
        </div>
    </div>
</header>

<% include include/scripts %>

<!-- Custom scripts for this template -->
<script src="/js/creative.min.js"></script>

</body>

</html>
