<!DOCTYPE html>
<html lang="en">

<head>

    <% include include/header %>

</head>

<body id="page-top">

<!-- Navigation -->

<% include include/navbar2.ejs %>

<header class="masthead text-center">

    <section class="h-100">
        <div class="container h-100">
            <div class="row justify-content-md-center h-100">
                <div class="card-wrapper" style="padding: 15px">
                    <div class="card fat" style="background-color:rgba(255,255,255,0.7);">
                        <p></p>
                        <div style="font-size: 25px"><b>Profil</b></div>
                        <div class="card-body">
                            <form method="post" action="/updateUser" id="form1">
                                <input type="hidden" id="old" name="old" value="<%= user.email %>">
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label for="nom">Nom</label>
                                        <input id="nom" name="nom" type="text" class="form-control" required
                                               value="<%= user.nom %>">
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="prenom">Prénom</label>
                                        <input id="prenom" name="prenom" type="text" class="form-control" required
                                               value="<%= user.prenom %>">
                                    </div>
                                </div>

                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label for="phone">Télephone</label>
                                        <input id="phone" name="phone" type="text" class="form-control" required
                                               value="<%= user.phone %>">
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="pays">Pays</label>
                                        <input id="pays" name="pays" type="text" class="form-control" required
                                               value="<%= user.pays %>">
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label for="ville">Ville</label>
                                        <input id="ville" name="ville" type="text" class="form-control" required
                                               value="<%= user.ville %>">
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="adresse">Adresse</label>
                                        <input id="adresse" name="adresse" type="text" class="form-control" required
                                               value="<%= user.adresse %>">
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label for="code_postal">Code postal</label>
                                        <input id="code_postal" name="code_postal" type="text" class="form-control"
                                               value placeholder="<%= user.code_postal %>">
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="email">Email</label>
                                        <input id="email" name="email" type="email" class="form-control" required
                                               value="<%= user.email %>">
                                    </div>
                                </div>

                                <div class="form-row">
                                    <div class="form-group col-md-12">
                                        <label for="psw">Nouveau mot de passe</label>
                                        <input id="psw" name="psw" type="password" class="form-control">
                                    </div>
                                </div>

                                <button type="submit" class="btn btn-primary btn-block">
                                    Modifier
                                </button>
                            </form>
                        </div>
                    </div>
                </div>


                <div class="card-wrapper" style="padding: 15px">
                    <div class="card fat" style="background-color:rgba(255,255,255,0.7);">

                        <p></p>
                        <div style="font-size: 25px"><b>Ma boîte</b></div>
                        <div class="card-body">
                            <form method="post" action="/updateBox" id="form2">
                                <input type="hidden" id="old" name="old" value="<%= user.email %>">
                                <div class="form-row col-md-12">

                                    <div class="form-group col-md-6">
                                        <label for="pays">Pays</label>
                                        <input id="pays" name="pays" type="text" class="form-control" required
                                               value="<%= user.box.pays %>">
                                    </div>


                                    <div class="form-group col-md-6">
                                        <label for="ville">Ville</label>
                                        <input id="ville" name="ville" type="text" class="form-control" required value="<%= user.box.ville %>">
                                    </div>


                                    <div class="form-group col-md-6">
                                        <label for="adresse">Adresse</label>
                                        <input id="adresse" name="adresse" type="text" class="form-control" value="<%= user.box.adresse %>" required>
                                    </div>


                                    <div class="form-group col-md-6">
                                        <label for="code_postal">Code postal</label>
                                        <input id="code_postal" name="code_postal" type="text" class="form-control" required value="<%= user.box.code_postal %>">
                                    </div>

                                    <button type="submit" class="btn btn-primary btn-block">
                                        Modifier
                                    </button>

                                </div>
                            </form>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </section>

</header>

<% include include/scripts %>

<!-- Custom scripts for this template -->
<script src="/js/creative.min.js"></script>

</body>

</html>
