<!DOCTYPE html>
<html lang="en">

<head>

    <% include include/header %>

    <!-- Custom static for this template -->
    <link href="/css/my-login.css" rel="stylesheet">

</head>

<body id="page-top">

<!-- Navigation -->

<% include include/nav.ejs %>

<header class="masthead my-login-page">
    <section class="h-100">
        <div class="container h-100">
            <div class="row justify-content-md-center h-100">
                <div class="card-wrapper">
                    <div class="card fat" style="background-color:rgba(255,255,255,0.7);">
                        <div class="card-body">
                            <h4 class="card-title">Login</h4>
                            <form method="post" action="/auth">

                                <div class="form-group">
                                    <label for="email">Adresse E-Mail</label>

                                    <input id="email" type="email" class="form-control" name="email" value="" required
                                           autofocus>
                                </div>

                                <div class="form-group">
                                    <label for="psw">Mot de passe</label>
                                    <input id="psw" type="password" class="form-control" name="psw" required
                                           data-eye>
                                </div>

                                <div class="form-group">
                                    <label>
                                        <input type="checkbox" name="remember"> Se rappeler de moi
                                    </label>
                                </div>

                                <div class="form-group no-margin">
                                    <button type="submit" class="btn btn-primary btn-block">
                                        Login
                                    </button>
                                </div>

                                <font color="red"><center><%= message%></center></font>

                                <br>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</header>

<% include include/scripts %>

<!-- Custom scripts for this template -->
<script src="/js/creative.min.js"></script>

</body>

</html>
