<!DOCTYPE html>
<html lang="en">

<head>

    <% include include/header %>

</head>

<body id="page-top">

<!-- Navigation -->

<% include include/nav.ejs %>

<header class="masthead text-center">
    <section class="h-100">
        <div class="container h-100">
            <div class="row justify-content-md-center h-100">
                <div class="card-wrapper">
                    <div class="card fat" style="background-color:rgba(255,255,255,0.7);">
                        <div class="card-body ">
                            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                                <ol class="carousel-indicators">
                                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                                </ol>
                                <div class="carousel-inner" role="listbox"
                                     style=" width:100%; height: 400px !important;">

                                    <div class="carousel-item active">

                                        <b>Vidéo</b>
                                        <br/>
                                        <br/>
                                        <iframe width="420" height="315"
                                                src="https://www.youtube.com/embed/IQNNZm53Iq8?rel=0&amp;controls=0&amp;ecver=2">
                                        </iframe>

                                    </div>

                                    <div class="carousel-item"
                                         style="width: 420px; height: 315px">

                                        <b>La boîte aux lettre connecté</b>
                                        <br/>
                                        <br/>

                                        <img class="d-block img-fluid " src="img/box.png"
                                             style="width:20%;height: auto;display: block;margin-left: auto;margin-right: auto;">

                                        <br/>
                                        <br/>
                                        <br/>


                                        <a>La boite au lettre connectée a pour objectif de vous simplifier la vie en
                                            vous envoyant une notification
                                            directement sur votre portable lors de la reception d'un courrier et bien
                                            plus !
                                           </a>
                                        <br/>
                                        <br/>


                                    </div>

                                    <div class="carousel-item"
                                         style="width: 420px; height: 315px">

                                        <b>IboxManager</b>
                                        <br/>
                                        <br/>

                                        <img class="d-block img-fluid " src="img/mobileapp.png"
                                             style="width:11%;height: auto;display: block;margin-left: auto;margin-right: auto;">
                                        <br/>
                                        <br/><br/>

                                        <a> L'application peut se connecter a plusieurs boites au lettres, vous dire
                                            leur état et voir l'historique des courriers recu.
                                            Il ne vous faut qu'acheter le produit et télécharger l'application
                                            "IboxManager".</a>
                                        <br/>
                                        <br/>
                                        <br/>
                                        <br/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</header>

<% include include/scripts %>

<!-- Custom scripts for this template -->
<script src="/js/creative.min.js"></script>

</body>

</html>
