<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="/">iBox</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="/produit">Le produit</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="./contact">Contact</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="/commander">Commander</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="/login">Se connecter</a>
                </li>
            </ul>
        </div>
    </div>
</nav>